.row.no-pad {
    margin-right: 0;
    margin-left: 0;
}


.row.no-pad>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.homepage {
    flex: 0 0 50% !important;
}

.username_label {
    margin-bottom: 0 !important;
    width: 100%;
}

.form-control-lg {
    border-radius: .3rem !important;
    color: inherit;
}