.collage {
    height: max-content;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 0;
    overflow: auto;
}

.pageWrapper {
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: auto;
}