.sidebar {
    word-wrap: break-word;
    max-width: 50%;
    position: sticky;
    top: 0;
    overflow: auto;
}

p {
    word-wrap: break-word;
    display: block;
}

h1 {
    word-wrap: break-word;
}

h2 {
    word-wrap: break-word;
}