#overlay {
    background-color: rgba(255, 255, 255, 0.812);
    z-index: 3;
}

.imgWrapper {}

.imgElement {}

.imgText {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    font-size: 1em
}

.albumImg {
    display: block;
    z-index: 0;
}

@media only screen and (max-width: 992px) {
    .imgWrapper {
        max-width: 50% !important;
    }

    .albumImg {
        width: 50vw !important;
        height: auto !important;
    }
}

@media only screen and (max-width: 576px) {
    .imgWrapper {
        max-width: 100% !important;
    }

    .albumImg {
        width: 100vw !important;
        height: auto !important;
    }
}

.imgText {
    margin: 0;
    color: white;
    font-size: .25em;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}