.imgWrapper {
    flex: 1 0 0;
}

.imgElement {
    z-index: 1;
    display: relative;
    min-width: 300px;
    max-width: 330px;
    height: 300px;
    padding: 15px 15px 20px 15px;
}

#overlay {
    background-color: rgba(255, 255, 255, 0.212);
    z-index: 3;
}

.imgText {
    position: relative;
    left: 2px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 2;
    top: 3px;
    margin: 0 5% 0 0;
    font-size: 1em
}

.albumImg {
    position: relative;
    top: -60px;
    left: 0;
    z-index: -1;
}

p {
    margin: 0;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}